* { /*universal selector*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /*body tag selector which sets a background color for the whole page */
    background-color: #d9dcd6;
}

.header { /*header class selector that sets padding and font family for anything with the header class. This background color overrides the color from the body selector */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 { /*class selector that applies to any h1 tags within a tag with the header class selector */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo { /* .seo class to change the font color. Used inside a span tag in our html*/
    color: #d9dcd6;
}

.header nav { /*class selector that applies to nav tags inside of a tag with header class selector */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul { /* changes the list style of our unordered list*/
    list-style-type: none;
}

.header nav ul li { /* list items are displayed as inline block*/
    display: inline-block;
    margin-left: 25px;
}

a { /*  changes the font color of our anchor tags and ensures no text decoration  */
    color: #ffffff;
    text-decoration: none;
}

p { /* changes the font size in paragraph tags   */
    font-size: 16px;
}

/*adds a width and height to our hero class selector. Adds a background image and where it should be positioned */
.hero { 
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*allows the image to float left of the text in the conatiner*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*allows the image to flow right of the text in the container*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* display as an inline block container. The width is adjusted to 75% of the screen and inclues a left margin*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*adjusts the width and height of the container. floats to the right but underneath other floated elements. applies a font style and background color.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*adds bottom margin to this section. changes text color.*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*adds bottom margin to this section. changes text color.*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*adds bottom margin to this section. changes text color.*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*adds bottom margin to our h3 tag and centers the text in the container*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*adds bottom margin to our h3 tag and centers the text in the container*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*adds bottom margin to our h3 tag and centers the text in the container*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*makes the image a block display. adds a margin of 10px on top. the other sides are done by the computer and gives it a max width of 150px*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*makes the image a block display. adds a margin of 10px on top. the other sides are done by the computer and gives it a max width of 150px*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*makes the image a block display. adds a margin of 10px on top. the other sides are done by the computer and gives it a max width of 150px*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*adds a bottom margin, padding all around, a height of 300px, changes the font, background color, and font color.*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*adds a bottom margin, padding all around, a height of 300px, changes the font, background color, and font color.*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*adds a bottom margin, padding all around, a height of 300px, changes the font, background color, and font color.*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* adds a max height for the img */
.search-engine-optimization img {
    max-height: 200px;
}
/* adds a max height for the img */
.online-reputation-management img {
    max-height: 200px;
}
/* adds a max height for the img */
.social-media-marketing img {
    max-height: 200px;
}
/*  adds a bottom margin to our h2 tag and changes the font size  */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*  adds a bottom margin to our h2 tag and changes the font size  */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*  adds a bottom margin to our h2 tag and changes the font size  */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* adds a padding of 30px on all sides, pushes it below other floating elements, changes the font, puts text in the center*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* change the font size in the h2 tag in the footer*/
.footer h2 {
    font-size: 20px;
}
